

.navbar {
    padding:2rem;
    background-color: #f5f6f7;
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* Estilos generales */

section {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
}

.seccion-oscura {
    color:white;
    background-color: #1b1b32;
}
.seccion-titulo {
    font-size: 2rem;
    padding:15px 0;
    font-family: 'Roboto', sans-serif;
}
.seccion-descripcion {
    font-size:1.2rem;
    color:#584e4e;
}
.seccion-clara {
    color:black;
    background-color: white;
}
.btn-info {
    font-size:1.1rem;
    margin:20px;
    font-weight: bold;
}
.texto-negro {
    color:black;
}
.texto-blanco {
    color:white;
}

/* Seccion principal */

.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}
.hero-principal {
    padding:3rem;
}
.hero-imagen-desarrollador {
width: 300px;
height: 300px;
border-radius: 10%;
margin: 20px; 
}
.hero-principal h2 {
    font-size: 1.5rem;
    color:#615151;
}

/* Sobre mi */

.sobre-mi {
    height: 500px;
    padding:10px;
}
.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

/* Seccion Formulario */

h3 {
    font-size: 32px; /* Tamaño de fuente personalizado */
    margin-top: 50px; /* Margen superior personalizado */
    margin-bottom: 30px; /* Margen inferior personalizado */
    padding: 0 15px; /* Padding personalizado */
}

/* seccion JS */

.class-js {
    text-align: center;
}